@font-face {
	font-family: Ubuntu-Bold;
	src: url(../fonts/Ubuntu-Bold.ttf);
}
@font-face {
	font-family: Ubuntu-Medium;
	src: url(../fonts/Ubuntu-Medium.ttf);
}
@font-face {
	font-family: Ubuntu-Regular;
	src: url(../fonts/Ubuntu-Regular.ttf);
}