@import "./styles/_zero";
@import "./styles/fonts";
@import "./styles/mixins";
@import "./styles/_vars";
@import "./styles/mobile";
/* ----------- Главный контейнер с фоном ----------- */
.App {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #EEF5FF;
	@media screen and (max-width: 767px) {
		align-items: flex-start;
		position: relative;
		overflow-y: auto;
	}
}
/* ----------- Контейнер со всем содержимым ----------- */
.cardform {
	display: flex;
	@include adaptive("width", 940, 500, "px");
	background-color: #fff;
	border-radius: 10px;
	padding: 13px;
	@media screen and (max-width: 767px) {
		flex-direction: column;
		margin: 0 16px 100px;
		width: 100%;
		z-index: 3;
		padding: 0;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include adaptive("width", 450, 260, "px");
		margin: 20px auto;
		@include adaptive("margin-top", 20, 10, "px");
		@include adaptive("margin-bottom", 20, 10, "px");
		@media screen and (max-width: 767px) {
			background-color: #fff;
			width: 100%;
			height: auto;
			margin: 100px auto 0px;
			padding: 25px;
			border-radius: 10px;
		}
	}
}
/* ----------- Контейнер боковой навигации ----------- */
.sidebar {
	@include adaptive("width", 275, 180, "px");
	@include adaptive("height", 568, 280, "px");
	@include adaptive("padding", 30, 16, "px");
	background: url("./images/bg-sidebar-desktop.svg") no-repeat 50% 50%;
	background-size: cover;
	border-radius: 10px;
	@media screen and (max-width: 767px) {
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 170px;
		border-radius: 0;
		background-position: 50% 88%;
		padding: 30px;
		z-index: -1;
	}
	&__steps {
		@media screen and (max-width: 767px) {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 14px;
		}
	}
}
.step {
	display: flex;
	align-items: center;
	@include adaptive("gap", 15, 8, "px");
	@include adaptive("margin-bottom", 30, 15, "px");
	color: #fff;
	&__number {
		@include adaptive("width", 33, 24, "px");
		@include adaptive("height", 33, 24, "px");
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		background-color: transparent;
		border: 1px solid #fff;
		@media screen and (max-width: 767px) {
			width: 33px;
			height: 33px;
		}
	}
	&.active &__number {
		background-color: #BFE2FD;
		border: 1px solid #BFE2FD;
		color: #000;
	}
	&__text {
		@include adaptive("height", 33, 22, "px");	
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-transform: uppercase;
		@include adaptive("font-size", 14, 8, "px");
		line-height: 1;
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
	&__id {
		font-family: "Ubuntu-Regular";
		font-weight: 100;
		color: #9699AB;
	}
	&__title {
		letter-spacing: 1px;
	}
}
/* ----------- Контейнер содержимого любого шага ----------- */
.form {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__top {
		height: auto;
	}
	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__title {
		@include adaptive("margin-top", 15, 12, "px");
		@include adaptive("margin-bottom", 10, 10, "px");
		font-family: Ubuntu-Bold;
		@include adaptive("font-size", 32, 24, "px");
		color:#03295A;
	}
	&__text {
		color: #9699AB;
		font-family: Ubuntu-Regular;
		@include adaptive("font-size", 16, 14, "px");
		line-height: 1.5;
		@include adaptive("margin-bottom", 30, 20, "px");
		@media screen and (max-width: 767px) {
			width: 80%;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		@include adaptive("gap", 25, 7, "px");
		@media screen and (max-width: 767px) {
			gap: 15px;
		}
	}
	/* --- Стили для label и input на 1 странице --- */
	&__label {
		display: flex;
		flex-direction: column;
		@include adaptive("gap", 10, 3, "px");
		&-text {
			display: flex;
			justify-content: space-between;
		}
		&-title {
			color: #03295A;
			@include adaptive("font-size", 14, 12, "px");
		}
		&-error {
			color: #D63954;
			font-family: Ubuntu-Bold;
			@include adaptive("font-size", 14, 12, "px");
		}
	}
	&__input {
		border: 1px solid #D9D8DD;
		@include adaptive("border-radius", 10, 4, "px");
		@include adaptive("padding-top", 13, 9, "px");
		@include adaptive("padding-bottom", 13, 5, "px");
		@include adaptive("padding-left", 15, 7, "px");
		@include adaptive("padding-right", 15, 7, "px");
		@include adaptive("font-size", 16, 10, "px");
		color: #03295A;
		@media screen and (max-width: 767px) {
			padding: 10px 12px;
			font-size: 14px;
		}
	}
	&__input:focus {
		border: 1px solid #554F95;
	}
	&__input::placeholder {
		color: #9699AB;
	}
	&__input-error {
		border: 1px solid #D63954;
	}
	/* --- Стили для плана и цен на 2 странице --- */
	&__plan {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		@include adaptive("grid-column-gap", 18, 12, "px");
		@media screen and (max-width: 767px) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			gap: 12px;
		}
		& .plan-form {
			&__item {
				@include adaptive("padding", 15, 8, "px");
				@include adaptive("padding-top", 100, 70, "px");
				border: 1px solid #DBDBDD;
				background-color: #fff;
				border-radius: 10px;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				@include adaptive("gap", 10, 6, "px");
				transition: all .2s ease;
				&-arcade {
					background: url("./images/icon-arcade.svg") no-repeat;
					@include adaptive("background-position-x", 15, 8, "px");
					@include adaptive("background-position-y", 15, 8, "px");
				}
				&-advanced {
					background: url("./images/icon-advanced.svg") no-repeat;
					@include adaptive("background-position-x", 15, 8, "px");
					@include adaptive("background-position-y", 15, 8, "px");
				}
				&-pro {
					background: url("./images/icon-pro.svg") no-repeat;
					@include adaptive("background-position-x", 15, 8, "px");
					@include adaptive("background-position-y", 15, 8, "px");
				}
				@media screen and (max-width: 767px) {
					padding: 18px 18px 18px 70px;
					min-height: 75px;
					background-position: 16px 16px;
				}
			}
			&__item:hover {
				border: 1px solid #524E98;
			}
			&__radio {
				width: 0;
				height: 0;
				position: absolute;
				opacity: 0;
			}
			&__radio:checked + .plan-form__item {
				border: 1px solid #524E98;
				background-color: #F8F9FE;
			}
			&__title {
				color: #03295A;
				font-family: Ubuntu-Bold;
				@include adaptive("font-size", 16, 14, "px");
			}
			&__price {
				color: #9699AB;
				@include adaptive("font-size", 14, 12, "px");
			}
			&__free {
				color: #03295A;
				@include adaptive("font-size", 12, 10, "px");
				display: none;
			}
			&__free.active {
				display: block;
			}
		}
	}
	&__plan-period {
		display: flex;
		justify-content: center;
		@include adaptive("gap", 20, 10, "px");
		width: 100%;
		@include adaptive("margin-top", 30, 12, "px");
		@include adaptive("padding", 15, 8, "px");
		background-color: #F8F9FE;
		border-radius: 10px;
		@media screen and (max-width: 767px) {
			gap: 20px;
			padding: 15px;
			margin-top: 20px;
		}
		& .plan-period {
			&__title {
				background: transparent;
				color: #9699AB;
				transition: color .2s ease;
				cursor: pointer;
				display: flex;
				height: 100%;
				align-items: center;
				@include adaptive("font-size", 15, 13, "px");
			}
			&__radio {
				width: 0;
				height: 0;
				position: absolute;
				opacity: 0;
			}
			&__radio:checked + .plan-period__title {
				color: #03295A;
			}
			&__check {
				width: 0;
				height: 0;
				position: absolute;
				opacity: 0;
			}
			&__switch {
				background-color: #03295A;
				border-radius: 100px;
				position: relative;
				cursor: pointer;
				width: 40px;
				height: 20px;
			}
			&__switch:before {
				content: "";
				position: absolute;
				top: 4px;
				left: 4px;
				width: 12px;
				height: 12px;
				background-color: #fff;
				border-radius: 100px;
				transition: left .2s ease;
			}
			&__check:checked + .plan-period__switch:before {
				left: 24px;
			}
		}
	}
	/* --- Стили для чекбоксов на 3 странице --- */
	&__addons {
		display: flex;
		flex-direction: column;
		@include adaptive("gap", 15, 8, "px");
		@media screen and (max-width: 767px) {
			gap: 12px;
		}
		& .addons-form {
			&__item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				@include adaptive("padding", 20, 15, "px");
				border: 1px solid #DBDADF;
				border-radius: 10px;
				@include adaptive("height", 80, 50, "px");
				cursor: pointer;
				transition: all .2s ease;
				@media screen and (max-width: 767px) {
					min-height: 60px;
					padding: 15px;
				}
				@media screen and (max-width: 375px) {
					min-height: 54px;
					padding: 12px;
				}
			}
			&__item:hover {
				border: 1px solid #524E98;
			}
			&__check:checked + .addons-form__item {
				border: 1px solid #524E98;
				background-color: #F8F9FE;
			}
			&__item-container {
				display: flex;
				justify-content: space-between;
				height: 100%;
			}
			&__mark {
				width: 20px;
				height: 20px;
				background: transparent;
				border: 1px solid #E1E0E5;
				border-radius: 4px;
				@include adaptive("margin-right", 20, 15, "px");
				align-self: center;
				@media screen and (max-width: 375px) {
					width: 16px;
					height: 16px;
					margin-right: 12px;
				}
			}
			&__text {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
			}
			&__title {
				color: #03295A;
				font-family: Ubuntu-Bold;
				@include adaptive("font-size", 16, 13, "px");
				@media screen and (max-width: 767px) {
					font-size: 14px;
				}
				@media screen and (max-width: 375px) {
					font-size: 12px;
				}
			}
			&__desc {
				color: #9699AB;
				@include adaptive("font-size", 14, 11, "px");
				@media screen and (max-width: 767px) {
					font-size: 12px;
				}
				@media screen and (max-width: 375px) {
					font-size: 10px;
				}
			}
			&__price {
				color: #524E9B;
				@include adaptive("font-size", 15, 13, "px");
				@media screen and (max-width: 767px) {
					font-size: 13px;
				}
				@media screen and (max-width: 375px) {
					font-size: 11px;
				}
			}
			&__check {
				width: 0;
				height: 0;
				position: absolute;
				opacity: 0;
			}
			&__check:checked ~ .addons-form__item .addons-form__mark {
				background: url("./images/icon-checkmark.svg") no-repeat 50% 50%;
				background-color: #4C41FF;
				border: 1px solid #4C41FF;
			}
		}
	}

	/* --- Стили для страницы с результатами --- */
	&__result {
		& .result-form {
			display: flex;
			flex-direction: column;
			&__data {
				@include adaptive("padding-top", 25, 10, "px");
				@include adaptive("padding-bottom", 25, 10, "px");
				@include adaptive("padding-left", 20, 10, "px");
				@include adaptive("padding-right", 20, 10, "px");
				background-color: #F8F9FE;
				@media screen and (max-width: 767px) {
					padding: 20px 15px;
				}
			}
			&__plan {
				display: flex;
				justify-content: space-between;
				align-items: center;
				@include adaptive("margin-bottom", 25, 13, "px");
				&-info {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 5px;
				}
				&-price {
					color: #052857;
					font-family: Ubuntu-Bold;
					@include adaptive("font-size", 18, 14, "px");
				}
			}
			&__title {
				color: #052857;
				font-family: Ubuntu-Bold;
				@include adaptive("font-size", 18, 14, "px");
			}
			&__text {
				@include adaptive("font-size", 16, 12, "px");
			}
			&__change {
				color: #9999A3;
				text-decoration: underline;
				background: none;
				@include adaptive("font-size", 16, 12, "px");
			}
			&__addons {
				display: flex;
				flex-direction: column;
				@include adaptive("gap", 25, 15, "px");
				@include adaptive("padding-top", 25, 13, "px");
				border-top: 1px solid #E7E8ED;
			}
			&__addons-item {
				display: flex;
				justify-content: space-between;
			}
			&__addons-price {
				color: #052857;
				@include adaptive("font-size", 16, 12, "px");
			}
			&__text {
				color: #9999A3;
			}
			&__total {
				@include adaptive("padding-top", 25, 10, "px");
				@include adaptive("padding-bottom", 25, 10, "px");
				@include adaptive("padding-left", 20, 10, "px");
				@include adaptive("padding-right", 20, 10, "px");
				display: flex;
				justify-content: space-between;
				@media screen and (max-width: 767px) {
					padding: 20px 15px 0;
				}
			}
			&__total-price {
				color: #483EFF;
				@include adaptive("font-size", 20, 16, "px");
				font-family: Ubuntu-Bold;
			}
		}
	}

	/* --- Стили страницы успешной отправки формы --- */
	&-finish {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include adaptive("gap", 20, 10, "px");
		&__text {
			text-align: center;
		}
	}
}

/* ----------- Стили общих кнопок на каждом шаге ----------- */
.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 767px) {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 72px;
		background-color: #fff;
		padding: 15px;
	}
	& button {
		@include adaptive("font-size", 16, 14, "px");
		line-height: 1;
	}
}
.button {
	@include adaptive("padding-top", 15, 9, "px");
	@include adaptive("padding-bottom", 15, 9, "px");
	@include adaptive("padding-left", 30, 20, "px");
	@include adaptive("padding-right", 30, 20, "px");
	// padding: 15px 30px;
	border-radius: 6px;
	color: #fff;
}
.next-button {
	background-color: #03295A;
}
.prev-button {
	background: transparent;
	color: #9699AB;
}
.confirm-button {
	background-color: #483EFF;
}

